.header{
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: calc(var(--index)*2.5);
    background-color: #01111c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: calc(var(--index)*1.5);
    letter-spacing:calc(var(--index)*1.5) ;
    color: white;
    text-decoration: none;
}

.cart{
    position: absolute;
    right: calc(var(--index)*1);
    top:calc(var(--index)*0.25);
    display: flex;
    margin: 0;
    color: white;
    height: calc(var(--index)*2);
    cursor: pointer;
}
.count{
    position: absolute;
    right: calc(var(--index)*1.6);
    top:calc(var(--index)*0.1);
    height: calc(var(--index)*1.3);
    display: flex;
    align-items: center;
    background-color: #37aaff;
    font-size:calc(var(--index)*0.8) ;
    border: 1px solid transparent;
    border-radius: 50%;
    padding:calc(var(--index)*0.5) ;
}
.active>.count{
    border: 1px solid white;

}
@media (max-width: 500px){
    .header{
        height: calc(var(--index)*4);
    }
    .title {
        font-size: calc(var(--index)*2);
        letter-spacing:calc(var(--index)*1.7) ;
    }
    .cart{
        height: calc(var(--index)*3.5);
    }
    .count{
        right: calc(var(--index)*2.2);
        top:calc(var(--index)*0.1);
        height: calc(var(--index)*2.4);
        font-size:calc(var(--index)*1.2) ;
        padding:calc(var(--index)*0.8) ;
    }
}