@import-normalize;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
--index:calc(1vh + 1vw);
}
@font-face {
  font-family: MS-3d ;
  src:url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
}
body{
  background-color: black;
  color: white;
  font-family:MS-3d ;
}
